/*import global font Rubik-Regular and set Background img*/
@import "../src/styles/fontface.css";
*{
    font-family: Rubik-Regular, serif;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../src/assets/images/open_book.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden
}